body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient( #5C664C,#F5F5DC);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer{
 background: linear-gradient( #5C664C,#F5F5DC);

}
.category{
  background: linear-gradient( #497955,#F5F5DC);
}
.nav1{
  background: linear-gradient( #5C664C,#F5F5DC);
}
.carouselst{
  background: linear-gradient(#5C664C,#F5F5DC)
}
.card{
    background: linear-gradient( #5C664C,#F5F5DC);
  border: none;
    
}
.carousel-slide{
   background: linear-gradient( #F5F5DC,#5C664C,)
}



.nav-link:hover{
  transform: scale(1.02);
  color: #497955;
}